<div id="fh5co-product" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 id="recipetitle">{{recipe.title}}</h2>
            </div>
        </div>

        <div class="row animate-box single fh5co-heading">
            <div class="col-md-6">
                <div class=“desc”>
                    <h3>Ingredients</h3>
                    {{#each ingredients as |ingredient|}}
                    <ul>
                        <li>{{ingredient}}</li>
                    </ul>
                    {{/each}}
                </div>
                <div class=“desc”>
                    <h3>Steps</h3>
                   {{#each steps as |step|}}
                    <ul>
                        <li>{{step}}</li>
                    </ul>
                    {{/each}}
                </div>
            <div class="col-md-12 text-center mt-25">
                <h4>Posted by {{recipe.Users.last_name}} </h4>
            </div>
        </div>

        {{#if recipe.comments.length}}
            {{> comments recipe.comments}}
        {{/if}}

        {{#if loggedIn}}
        <div class="row animate-box">     
            <div class="col-md-10 col-md-offset-1">
                <h3>Add a comment on recipe</h3>
                <h2 id="recipeid">{{recipe.id}}</h2>
                
                    <div class="row form-group">
                        <div class="col-md-12">
                            <textarea name="comment" id="comment" cols="10" rows="4" class="form-control"
                                placeholder="Add your comment here"></textarea>
                        </div>
                    </div>

                    <div class="form-group mt-40 text-center">
                        <button id="comment-form" class="btn btn-primary">Submit</button>
                    </div>

            </div>
        </div>
        {{/if}}

    </div>
</div>

{{#if loggedIn}}
<script src="/js/addcomment.js"></script>
{{/if}}